@model mymvc1.Models.Employee.DetailsEmployeeModel

<form method="post">
@Html.HiddenFor(m => m.Id)
<h2>Are you sure you want to delete?</h2> 
@Html.LabelFor(m => m.FirstName)
@Html.DisplayFor(m => m.FirstName)
</br>
@Html.LabelFor(m => m.LastName)
@Html.DisplayFor(m => m.LastName)
</br>
@Html.LabelFor(m => m.DateOfBirth)
@Html.DisplayFor(m => m.DateOfBirth)
</br>
@Html.LabelFor(m => m.PhoneNumber)
@Html.DisplayFor(m => m.PhoneNumber)
</br>
<button type="submit" class="btn btn-success">Yes</button>
@Html.ActionLink("Cancel","Index","Employee",null, new {@class="btn btn-danger"})
</form>