@model mymvc1.Models.Employee.CreateEmployeeModel

<h2>Employee Details:</h2> 
@Html.LabelFor(m => m.FirstName)
@Html.DisplayFor(m => m.FirstName)
</br>
@Html.LabelFor(m => m.LastName)
@Html.DisplayFor(m => m.LastName)
</br>
@Html.LabelFor(m => m.DateOfBirth)
@Html.DisplayFor(m => m.DateOfBirth)
</br>
@Html.LabelFor(m => m.PhoneNumber)
@Html.DisplayFor(m => m.PhoneNumber)