@model mymvc1.Models.ViewPets.DisplayPetsModel

<h2>My Pets:</h2>
<p>Name: @Model.PetName</p>
<p>Type: @Model.PetType</p>
<p>Age: @Model.PetAge</p>
<p>Color: @Model.PetColor</p>
<p>Gender: @Model.PetGender</p>